:host {
  display: block;
}

/* To ensure your styling works under the Shadow DOM polyfill, see
   www.polymer-project.org/docs/polymer/styling.html#directives */
polyfill-next-selector { content: ':host > h2'; }
::content h2 {
  color: blue;
}

polyfill-next-selector { content: ':host .bar'; }
::content ol {
  list-style-type: none;
}

polyfill-next-selector { content: ':host .bar'; }
::content li {
  border: 1px solig #000;
}

:host canvas {
	cursor: crosshair;
}